.hero {
  background-image: url(../assets/images/bandsiteimgdj2.jpg);
  width: 100%;
  margin: 0;
  height: calc(9 / 16 * 100vw);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: stretch;
  position: relative;

  &__content {
    display: flex;
    flex-basis: 100%;
    background-color: rgba(#323232, 0.5);
    align-items: center;
    padding: 0 5%;

    @include tablet {
      padding: 0 3.125%;
    }

    @include desktop {
      padding: 0 12.5%;
    }
  }

  &__title {
    margin: 0;
    color: $secondaryfont;
    max-width: 305px;

    @include tablet {
      max-width: 720px;
    }
  }

  &__name {
    display: inline-block;
  }
}
