@font-face {
  font-family: "AvenirNextProLT";
  src: url("../assets/fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextProLT";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextProLT";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
