@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype - Avenir Next LT Pro Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype - Avenir Next LT Pro Demi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h4,
p,
li {
  font-size: 13px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.hero-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .hero-header {
    font-size: 60px;
    line-height: 68px;
  }
}

.sub-header {
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .sub-header {
    font-size: 16px;
  }
}

.main-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .main-header {
    font-size: 36px;
    line-height: 44px;
  }
}

.header {
  background-color: #323232;
  width: 100%;
  margin: 0;
  min-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-left: 180px;
  }
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #323232;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo-container {
    padding: 0;
  }
}

.header__logo {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__nav {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 80px;
  }
}

.header__nav-links {
  text-decoration: none;
  width: 100%;
  padding-bottom: 15px;
  color: #afafaf;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 5px 0;
    width: unset;
    margin-left: 56px;
  }
}

.header__nav-links--active {
  color: white;
}

.header__nav-links--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  left: 0;
  background-color: white;
}

.hero {
  background-image: url(../assets/images/bandsiteimgdj2.jpg);
  width: 100%;
  margin: 0;
  height: 175px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 670px;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 0 180px;
  }
}

.hero__title {
  margin: 0;
  color: white;
  max-width: 305px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 720px;
  }
}

.hero__name {
  display: inline-block;
}

.feature {
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .feature {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding: 0 180px;
  }
}

.feature__title {
  margin: 32px 0 24px;
}

@media screen and (min-width: 768px) {
  .feature__title {
    margin: 48px 0 36px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__title {
    margin: 48px 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__content-container {
    padding: 0 10%;
  }
}

.feature__image {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}

.feature__quote {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .feature__quote {
    font-weight: 700;
    font-size: 24px;
    margin: 48px 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__quote {
    margin: 48px 0 40px;
  }
}

.feature__quote-citation {
  margin: 0 0 40px 0;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .feature__quote-citation {
    font-size: 16px;
    margin: 0 0 56px 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__quote-citation {
    margin: 0 0 56px 0;
  }
}

.feature__subtitle {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .feature__subtitle {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__subtitle {
    margin: 0 0 32px 0;
    font-weight: 700;
  }
}

.feature__body {
  margin: 0 0 40px 0;
}

@media screen and (min-width: 768px) {
  .feature__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__body-section {
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .feature__body-section {
    margin-bottom: 0;
  }
  .feature__body-section:first-of-type {
    margin-right: 12px;
  }
  .feature__body-section:last-of-type {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__body-section:first-of-type {
    margin-right: 20px;
  }
  .feature__body-section:last-of-type {
    margin-left: 20px;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 32px 16px 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 48px 24px 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 48px 180px 0;
  }
}

.gallery__title {
  margin: 0 0 24px 0;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 56px 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__title {
    margin: 0 0 64px 0;
  }
}

.gallery__photo-container {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .gallery__photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px 16px;
  }
}

.gallery__photo {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .gallery__photo {
    margin-bottom: 24px;
    padding: 0 12px;
    width: 33.3333%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body {
  color: #323232;
  margin: 0;
  font-family: "Avenir";
}

.footer {
  background-color: #323232;
  color: white;
  padding: 32px 16px 40px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 24px 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__links-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__title {
  margin: 0 0 24px 0;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
    margin-right: 32px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__media {
    padding-left: 24px;
  }
}

.footer__media-logo {
  padding: 0 10px 0 0;
  margin: 0 16px 24px 0;
}

@media screen and (min-width: 768px) {
  .footer__media-logo {
    margin: 12px 16px 0 0;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__content-bold {
  font-weight: bold;
  margin: 0;
}

.footer__content {
  margin-bottom: 0;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */