@import "variables";
@import "mixins";
@import "typography";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/feature";
@import "./partials/gallery";
@import "./partials/footer";

// CSS styling has been organized to their respective partials

body {
  color: $globalfont;
  margin: 0;
  font-family: "Avenir", "Roboto", sans-serif;
}
