@import "typography";

body {
  color: #323232;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h4,
p,
li {
  font-size: 13px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #323232;
  width: 100%;

  &__logo-container {
    display: flex;
    justify-content: center;
    height: 150px;
  }

  &__nav-links {
    font-weight: bold;
  }
}
